@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CONFIG CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

/*CARD NOTIFICAÇÃO*/

/*Configuração geral da Notificação*/

.notificationContent {
    display: flex;
    align-items: center;
}

.box-notification {
    max-width: 100%;
}

/*Notificação de Aprovado*/

.approve-status {
    width: 50px;
    height: 50px;
    background-color: #38D600;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.approve-notification {
    margin: 20px;
    background-color: #E8FFE0;
    border: 1px solid #38D600;
    border-radius: 4px;
    padding: 12px;
}

/*Alterando o tamanho do P da notificação*/

.paragraph-notification {
    font-size: 14px;
    color: #282828;
}

/*Definindo o tamanho do icone*/

.status-img {
    width: 20px;
}

/*Configuração do espaçamento entre status (CIRCULO) e informações*/

.text-notification {
    margin-left: 12px;
}

/* WARNING */

.warning-status {
    width: 50px;
    height: 50px;
    background-color: #FFE500;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-notification {
    margin: 20px;
    background-color: #FFFDEB;
    border: 1px solid #FFE500;
    border-radius: 4px;
    padding: 12px;
}

/* DENID */

.denid-status {
    width: 50px;
    height: 50px;
    background-color: #D60000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.denid-notification {
    margin: 20px;
    background-color: #FFB9B9;
    border: 1px solid #D60000;
    border-radius: 4px;
    padding: 12px;
    color: rgb(0, 0, 0);
}
